.wrapper {
  background-image: url(/public/characters/vs_screen_bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.title {
  padding-top: 1rem;
  text-align: center;
  font-size: 3.5em;
  line-height: 57px;
  letter-spacing: 0.3rem;
  color: lightgray;
}

.logo_dragon {
  background-image: url(/public/characters/dragon_logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  filter: drop-shadow(-2.8rem 0 1.7rem white);
}

.logo_dragon.left {
  left: 100px;
}

.logo_dragon.right {
  right: 100px;
  transform: rotateY(180deg);
}

.vs_container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 12rem;
  height: 14rem;
}

.vs_container img {
  width: 100%;
}

.player_one,
.player_two {
  width: 400px;
  height: 550px;
  position: absolute;
  bottom: 0;
}

.player_one {
  left: 50px;
}

.player_two {
  right: 50px;
}

.player_one img, .player_two img {
  max-width: 100%;
  height: 100%;
}

.versus_codes {
  margin: auto auto 3rem;
  display: flex;
  max-width: 550px;
  width: 100%;
  height: 6rem;
  background: #000000;
}

.versus_codes_item {
  width: 16.6%;
  border: .2rem solid red;
  background-image: url(/public/characters/icons_MK.webp);
  background-repeat: no-repeat;
  background-size: 800px;
}
